@charset "utf-8";
@import url(reset.css);
@import url(font.css);
@import url(style-guide.css);

header {
    position: absolute;
    /* 화면에 맞게 포지션 조절 */
    width: 100%;
    height: 80px;
    background:
        url(../img/header,footer.png) no-repeat center/cover;
}

.header-inner {
    width: 1620px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ------------------------header left--------------------------- */
/* 모바일 메인페이지에서만 사용 */
.header-left {
    display: none;
}

.header-left .m-sound1 {
    display: none;
}

.header-left .m-sound2 {
    display: none;
}

/* 모바일 메인제외 모든페이지에서 사용 */
.header-left .m-back {
    display: none;
}

/* ------------------------header left end--------------------------- */

.header-gnb>ul {
    display: flex;
    gap: 70px;
}

.header-gnb li a {
    position: relative;
}

.header-gnb li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 1.5px;
    background-color: #EBEAE4;
    transition: 0.3s;
}

.header-gnb li a:hover {
    color: #EBEAE4;
    transition: 0.3s;
}

.header-gnb li a:hover::after {
    width: 100%;
}

/* 각 맞는 gnb영역에 active 속성 넣어주기 */
.header-gnb li a.active {
    color: #EBEAE4;
}

.header-gnb li a.active::after {
    width: 100%
}


/* ------------------------header right--------------------------- */
/* PC 메인페이지에서만 사용 */
.header-right .sound img {
    display: block;
    width: 28px;
    height: 28px;
}

.header-right .sound .sound-off {
    /* 자바스크립트 영역임 클릭시 off이미지 block 과 영상 사운드 음소거 */
    display: none;
}

.header-right .skip {
    /* PC 타임라인 선택창페이지,타임라인스킵 페이지에서 사용 */
    display: none;
    opacity: 0.7;
}

.header-right .back-timeline {
    /* PC 타임라인 년도별80~10에서만 사용 */
    display: none;
    opacity: 0.7;
}

.header-right .back {
    /* PC 문화 자세히보기 , gnb 컨텐츠 메인페이지에서 사용 */
    display: none;
    opacity: 0.7;
}

.header-right .m-menu {
    /* 모바일 메뉴 */
    display: none;
}

/* ------------------------header end--------------------------- */

/* ------------------------footer--------------------------- */

.footer {
    /*  position: fixed;
    bottom: 0; */
    /* 화면에 맞게 포지션 조절 */
    width: 100%;
    height: 80px;
    background: url(../img/header,footer.png) no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    opacity: 0, 8;
}