@charset "utf-8";

section {
    width: 100%;
    height: 100vh;
}

.inner {
    position: relative;

    max-width: 1720px;
    height: 100%;

    margin: 0 auto;

}

.main {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%,
            rgba(0, 0, 0, 0) 70%),
        url(/img/메인\ 배경.webp)no-repeat center/cover;
}

.main-point {
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.8) 0%,
            rgba(0, 0, 0, 0) 30%);
}

.text-box {
    position: absolute;
    top: 225px;
    left: 40px;
}

.img-box {
    width: 424px;
    height: 366px;
    position: absolute;
    top: 300px;
    right: 445px;
}

.opening-video {
    position: absolute;
    left: 11px;
    bottom: 62px;
    width: 300px;
    height: 195px;
    object-fit: cover;
}

.img-box img {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
}


.main-title {
    font-family: "Nanum Brush Script", cursive;
    font-weight: var(--fw-regular);
    color: #fff;
    margin-bottom: 22px;
}

.main-text {
    font-size: 26px;
    font-weight: var(--fw-regular);
    color: rgb(from var(--color-click) r g b / 70%);
    line-height: 44px;
    margin-bottom: 54px;
}

.btn-box {
    position: relative;
    width: 269px;
    height: 76px;
    background-image: url(/img/베이지\ 버튼\ 배경.png);
    background-size: 270px;
}

.btn {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: var(--fs-main-text);
    font-family: 'MaruBuri';
    font-weight: var(--fw-bold);
    color: var(--color-main);
}

.btn-box img {
    width: 23px;
    height: 20px;
    vertical-align: -3px;
    margin-left: 8px;
    color: var(--color-main);
}

.year-nav {
    position: absolute;
    right: -25px;
    top: 52%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.year-nav button {
    color: #CEBB9C;
    background: none;
    font-size: 24px;

}

.year-btn::before {
    display: inline-block;
    content: '';
    background: #CEBB9C;
    width: 16px;
    height: 16px;
    border-radius: 20px;

    margin-right: 20px;
}

/* .point-tag::before {
    position: absolute;
    top: 57%;
    transform: translateY(-50%);
    left: 12px;
    display: inline-block;
    content: '';
    background: #CEBB9C;
    width: 4px;
    height: 225px;

} */

.archive {
    position: relative;
    width: 100%;
    height: 607px;
    background: linear-gradient(rgba(61, 57, 57, 0.1),
            rgba(61, 57, 57, 0.1)), url(/img/찐어바웃.webp)no-repeat center/cover;
    border-top: 1px solid black;
}

.about {
    width: 100%;
    max-width: 1720px;
    margin: auto;
    padding-top: 100px;
}

.text-group .main-title {
    color: var(--color-title);
    font-family: var(--font-playfair);
    font-size: 36px;
    margin-bottom: 49px;
}

.text-group .main-text {
    font-family: var(--font-pretendard);
    color: var(--color-main);
    line-height: 1.2;
    margin-bottom: 41px;
}

.text-group .sub-text {
    color: var(--color-main);
    font-family: var(--font-pretendard);
    font-size: var(--fs-main-text);
    font-weight: var(--fw-regular);
    margin-bottom: 42px;
}

.icon-box {
    display: flex;
    gap: 25px;
}

.icon-img {
    width: 50px;
    height: 50px;
    background: var(--color-logo);
    padding: 10px;
    border-radius: 25px;
}

.icon-text {
    width: 250px;
    display: flex;
    color: black;
    gap: 15px;
    align-items: center;
    font-family: var(--font-pretendard);
    font-weight: var(--fw-regular);
}

.icon-box .right::before {
    content: "";
    display: inline-block;
    background: rgba(94, 91, 91, 0.397);
    width: 2px;
    height: 55px;
    transform: translate(-30px, 2px);

}

#wrap {
    transform-origin: 1145px 520px;
}

#wrap.intro-zoom {
    transform: scale(7.2);
}

#wrap.zoom-out {
    transform: scale(1);
    transition: transform 4s ease;
}

.mobile-about {
    display: none;
}

.mobile-about img {
    width: 230px;
    height: 200px;
    transition: 0.3s;

    animation: aboutMove 1.5s ease-in-out infinite alternate;
}



.mobile-modal {
    display: none;
}

/* =========================
   MOBILE
========================= */

@media screen and (max-width: 768px) {

    html,
    body {
        overflow: hidden;
    }

    .main {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%,
                rgba(0, 0, 0, 0)20%),
            url(/img//메인페이지/모바일\ 메인\ 페이지\ 배경\ 02.png)no-repeat center/cover;
    }

    .archive {
        display: none;
    }


    .text-box {
        width: 100%;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    .main-title {
        font-size: 50px;
        margin-bottom: 13px;
    }

    .main-text {
        display: none;
    }

    .btn-box {
        position: relative;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 200px;
        height: 52px;
        background-image: url(/img/베이지\ 버튼\ 배경.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }


    .btn {
        font-size: 17px;
    }

    .btn-box img {
        width: 20px;
        height: 17px;
        vertical-align: -2px;
    }

    .img-box {
        width: 250px;
        height: 225px;
        top: 378px;
        left: 50%;
        transform: translateX(-50%);
    }

    .opening-video {
        left: 24px;
        bottom: 40px;
        width: 160px;
        height: 115px;
    }

    .year-nav {
        position: relative;
        left: 0px;
        top: 55%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .year-nav button {
        width: 80px;
        font-size: 17px;

    }

    .year-btn::before {
        display: inline-block;
        content: '';
        background: #CEBB9C;
        width: 12px;
        height: 12px;
        border-radius: 20px;

        margin-right: 10px;
    }

    .point-tag::before {
        position: absolute;
        top: 154px;
        transform: translateY(-50%);
        left: 15px;
        display: inline-block;
        content: '';
        background: #CEBB9C;
        width: 2px;
        height: 200px;
    }




    .mobile-about {
        display: block;
        position: absolute;
        bottom: -10px;
        right: -12px;

    }

    .mobile-about img.stop {
        animation-play-state: paused
    }

    @keyframes aboutMove {
        from {
            transform: translate(0, 0);
        }

        to {
            transform: translate(-5px, -5px);
        }
    }



    .mobile-modal {
        display: none;
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
    }

    .modal-box {
        position: relative;
        width: 300px;
        height: 450px;
        background-image: url(/img/메인페이지/모바일\ 모달.png);
        object-fit: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .modal-close {
        position: absolute;
        top: 85px;
        right: 20px;
    }

    .modal-close img {
        width: 25px;
        height: 25px;
        color: var(--color-main);
    }

    .mobile-modal .text-box {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
    }

    .modal-main {
        font-family: var(--font-pretendard);
        font-size: 16px;
        font-weight: var(--fw-regular);
        color: var(--color-main);
        letter-spacing: 1px;
        line-height: 1.3;

    }

    .mobile-modal .modal-icon {
        display: flex;
        gap: 30px;
        position: absolute;
        top: 51%;
        left: 50%;
        transform: translateX(-50%);

    }

    .mobile-modal .modal-text {
        width: 90px;
        text-align: center;
        font-size: 14px;
        color: var(--color-main);
        font-family: var(--font-pretendard);
        line-height: 1.3;
    }

    .modal-text .img-box02 {
        margin-bottom: 7px;
    }

    .modal-text .img-box02 .icon-img {
        background: #c5b79a;
    }

    .mobile-modal .modal-text:nth-child(1)::after {
        position: absolute;
        right: 50%;
        transform: translateX(-50%);
        top: 5px;
        display: inline-block;
        content: '';
        background: #0000007a;
        width: 1px;
        height: 86px;
    }

    .modal-logo {
        position: absolute;
        bottom: 80px;
        right: 17px;
        font-size: 15px;
        font-family: var(--font-playfair);
    }

    .mobile-modal.on {
        display: flex;
    }
}