@charset "utf-8";

body {
    background-image: url(../img/기본\ 서브\ 배경.webp);
}

html,
body {
    height: 100%;
    overflow: hidden;
}

.detail-inner {
    width: 1720px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.detail {
    width: 100%;
    height: calc(100vh - 160px);
    position: relative;
    overflow: hidden;
    background: url("../img/타임라인 배경사진 (1).webp") center / cover no-repeat;
    color: var(--color-main);
    margin-top: 80px;
}

.detail-top {
    width: 100%;
    height: 385px;
    margin: 0;
    padding-top: 25px;
    position: relative;
    display: grid;
    grid-template-columns: 720px 430px 370px;
    justify-content: space-between;
    align-items: start;
    top: 8px;
}

.hero-image {
    width: 760px;
    height: 390px;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
    top: -20px;
}

.archive-img {
    width: 180px;
    height: auto;
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 2;
    transform: rotate(-5deg);
}

.hero-image>img:first-child {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.hero-info {
    padding-top: 25px;
    transform: translateY(-25px);
    margin-left: -20px;
}

.hero-info h2 {
    margin: 0 0 15px;
    font-family: var(--font-adamina);
    font-size: 85px;
    font-weight: var(--fw-regular);
    line-height: 1;
    color: var(--color-main);
    text-shadow: 3px 4px 2px rgba(0, 0, 0, 0.25);
}

.hero-info h3 {
    margin: 0 0 25px;
    font-family: var(--font-pretendard);
    font-size: 40px;
    font-weight: var(--fw-medium);
    text-shadow: 6px 7px 6px rgba(0, 0, 0, 0.25);
}

.info-line {
    width: 280px;
    height: 2px;
    margin-bottom: 25px;
    background-color: var(--color-main);
}

.hero-info p {
    width: 500px;
    margin: 0;
    font-family: var(--font-pretendard);
    font-size: 22px;
    font-weight: var(--fw-medium);
    line-height: 1.55;
    letter-spacing: 0.8px;
}

.key-items {
    width: 370px;
    height: 384px;
    padding: 28px;
    position: relative;
    background: url("../img/2000/텍스트\ 배경.png") center / 100% 100% no-repeat;
    z-index: 1;
    margin-top: -25px;
}

.key-items>h3 {
    text-align: center;
    margin-bottom: 8px;
    margin-top: 15px;
    font-family: var(--font-playfair);
    font-size: 25px;
    font-weight: var(--fw-regular);
    color: var(--color-main);
}

.key-item {
    position: relative;
    width: 100%;
    height: 82px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.key-item img {
    width: 70px;
    height: 60px;
    display: block;
    flex-shrink: 0;
    object-fit: contain;
}

.key-item strong {
    display: block;
    font-family: var(--font-pretendard);
    font-size: 18px;
    font-weight: var(--fw-medium);
    line-height: 1.4;
    margin-left: 20px;
}

.key-item p {
    margin-top: 3px;
    font-family: var(--font-pretendard);
    font-size: 15px;
    font-weight: var(--fw-medium);
    line-height: 1.4;
    margin-left: 20px;
}

.detail-bottom {
    width: 100%;
    height: 390px;
    margin: 0;
    padding-top: 20px;
    position: relative;
    display: grid;
    grid-template-columns: 730px 430px 280px;
    justify-content: space-between;
    top: 30px;
}

.objects,
.culture,
.music-player {
    position: relative;
    left: 0;
}

.detail-bottom::before {
    content: "";
    width: 100vw;
    height: 5px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #14120C;
}

.objects {
    padding-right: 35px;
    position: relative;
    border-right: none;
}

.objects::after {
    content: "";
    width: 2px;
    height: 345px;
    position: absolute;
    top: 0;
    right: -60px;
    background-color: #251b104d;
}

.culture {
    padding-right: 35px;
    position: relative;
    border-right: none;
    left: 0;
}

.culture::after {
    content: "";
    width: 2px;
    height: 345px;
    position: absolute;
    top: 0;
    right: -60px;
    background-color: #251b104d;
}

.culture-title {
    margin-left: -20px;
    margin-bottom: 15px;
    font-family: var(--font-pretendard);
    font-size: 26px;
    font-weight: var(--fw-semibold);
    line-height: 1.3;
}

.object-title {
    margin-bottom: 15px;
    font-family: var(--font-pretendard);
    font-size: 26px;
    font-weight: var(--fw-semibold);
    line-height: 1.3;
}


.object-list {
    display: flex;
    gap: 15px;
}

.object-card {
    width: 175px;
    flex-shrink: 0;
}

.object-photo {
    width: 175px;
    height: 185px;
    display: block;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.object-info {
    width: 175px;
    height: 115px;
    position: relative;
}

.text-card-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 1;
    border-radius: 0 0 15px 15px;
}

.object-text {
    width: 100%;
    height: 100%;
    padding: 12px;
    position: relative;
    z-index: 2;
}

.object-text h4 {
    font-family: var(--font-pretendard);
    font-size: 19px;
    font-weight: var(--fw-medium);
}

.object-text p {
    margin-top: 4px;
    font-family: var(--font-pretendard);
    font-size: 17px;
    font-weight: var(--fw-regular);
}

.object-text a {
    display: block;
    margin-top: 15px;
    font-family: var(--font-pretendard);
    font-size: 18px;
    font-weight: var(--fw-medium);
}

.culture-list {
    display: flex;
    gap: 30px;
    transform: translateX(-20px);
}

.culture-card {
    width: 210px;
    flex-shrink: 0;
}

.culture-photo {
    width: 210px;
    height: 185px;
    display: block;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.culture-info {
    width: 210px;
    height: 115px;
    position: relative;
}

.culture-text {
    width: 100%;
    height: 100%;
    padding: 12px;
    position: relative;
    z-index: 2;
}

.culture-text h4 {
    font-family: var(--font-pretendard);
    font-size: 19px;
    font-weight: var(--fw-medium);
}

.culture-text p {
    margin-top: 5px;
    font-family: var(--font-pretendard);
    font-size: 17px;
    font-weight: var(--fw-regular);
    line-height: 1.4;
}

.culture-text a {
    display: block;
    margin-top: 15px;
    font-family: var(--font-pretendard);
    font-size: 18px;
    font-weight: var(--fw-medium);
}

.music-player {
    width: 240px;
    height: 300px;
    margin-top: 25px;
    margin-left: -20px;
    padding: 18px;
    position: relative;
    border-radius: 8px;
    background: linear-gradient(180deg,
            #604832 0%,
            #493522 55%,
            #352416 100%);
    color: #dfcba8;
    box-shadow: 8px 10px 8px rgba(0, 0, 0, 0.2);
}

.music-player h3 {
    width: 230px;
    color: #B8A080;
    margin-left: -15px;
    font-family: var(--font-pretendard);
    font-weight: var(--fw-medium);
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    transform: translateY(-10px);
}

.record-player {
    width: 220px;
    height: 155px;
    margin: 5px auto 0;
    position: relative;
}

.record {
    width: 140px;
    height: 140px;
    position: absolute;
    top: 0;
    left: 35px;
    border-radius: 50%;
}

.record-disc {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}

.tonearm {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -15px;
    right: -10px;
    z-index: 3;
    transform-origin: 82% 15%;
    transform: rotate(25deg);
    transition: transform 0.6s ease;
}

.tonearm img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
    margin-top: 35px;
    margin-left: 18px;
    transform: rotate(-30deg);
}

.record-player.is-playing .tonearm {
    transform: rotate(-8deg);
}

.record-player.is-playing .record-disc {
    animation: recordRotate 2s linear infinite;
}

@keyframes recordRotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.progress {
    width: 100%;
    height: 3px;
    margin-top: 2px;
    background: rgba(223, 203, 168, 0.3);
    border-radius: 10px;
}

.progress span {
    display: block;
    width: 0%;
    height: 3px;
    background: #dfcba8;
    border-radius: 10px;
}

.time {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    font-family: var(--font-pretendard);
    font-size: 14px;
}

.lp-line {
    width: 247px;
    height: 2px;
    background: linear-gradient(to right,
            #291b10 10%,
            #3b2d23a1 45%,
            #63595144 55%,
            #91898300 40%,
            rgba(145, 137, 131, 0) 100%);
}

.player-buttons {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.player-buttons button {
    width: 30px;
    height: 30px;
    border: none;
    background: transparent;
}

.player-buttons button img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}

.player-buttons button:nth-child(2) {
    width: 45px;
    height: 45px;
}

.next-year {
    width: 145px;
    height: 40px;
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 20;
    padding: 0;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.next-year-bg {
    width: 170px;
    height: 48px;
    position: absolute;
    inset: 0;
    z-index: 1;
}

.next-year span {
    position: relative;
    z-index: 2;
    font-family: var(--font-adamina);
    font-size: 24px;
    color: var(--color-main);
    margin-top: 10px;
}

.next-year-arrow {
    width: 26px;
    height: 2px;
    position: relative;
    z-index: 2;
    display: block;
}

.next-year-arrow img {
    width: 26px;
    height: auto;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    object-fit: contain;
}

.prev-year {
    width: 145px;
    height: 40px;
    position: fixed;
    left: 25px;
    bottom: 25px;
    z-index: 20;
    padding: 0;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.prev-year-bg {
    width: 170px;
    height: 48px;
    position: absolute;
    inset: 0;
    z-index: 1;
}

.prev-year span {
    position: relative;
    z-index: 2;
    font-family: var(--font-adamina);
    font-size: 24px;
    color: var(--color-main);
    margin-top: 10px;
}

.prev-year-arrow {
    width: 26px;
    height: 2px;
    position: relative;
    z-index: 2;
    display: block;
}

.prev-year-arrow img {
    width: 26px;
    height: auto;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    display: block;
    object-fit: contain;
}